@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4">元祖本家らーめん田森家</h1>
    <p>サングラスの大将が適当なレシピでお届けします</p>
    <div>
        <!-- らーめん -->
        <section>
            <p>らーめん</p>
            <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="price_1GyWPJFMstGQDQYGBO7fFf7h"
                    role="link">
                らーめんを買う
            </button>
        </section>

        <!-- みそらーめん -->
        <section>
            <p>みそらーめん</p>
            <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="price_1GyWxUFMstGQDQYGIuxl6OZC"
                    role="link"
                    onclick="BuyRamen(this.id)">
                みそらーめんを買う
            </button>
        </section>

        <!-- チャーシューめん -->
        <section>
            <p>チャーシューめん</p>
            <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="price_1GyWymFMstGQDQYGsZeUAGqJ"
                    role="link"
                    onclick="BuyRamen(this.id)">
                チャーシューめんを買う
            </button>
        </section>

        <!-- ネギらーめん -->
        <section>
            <p>ネギらーめん</p>
            <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="price_1GyWzZFMstGQDQYG7sDM3XK6"
                    role="link"
                    onclick="BuyRamen(this.id)">
                ネギらーめんを買う
            </button>
        </section>

        <!-- とんこつらーめん -->
        <section>
            <p>とんこつらーめん</p>
            <button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="price_1GyX36FMstGQDQYGkI1Sbu8b"
                    role="link"
                    onclick="BuyRamen(this.id)">
                とんこつらーめん
            </button>
        </section>
    </div>
</div>
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>
<div id="error-message"></div>

<script type="text/javascript">

    function BuyRamen(price_id) {
        var stripe = Stripe('pk_test_51GxsJaFMstGQDQYGTrWa7grBN6DUXdGZLiFsLb2ST3iBbOniAXENu4k0PkDtojP30jvxtBpxJqQnCiNwNSnJGWKo00V3Hmi1qD');

        stripe.redirectToCheckout({
            lineItems: [{ price: price_id, quantity: 1 }],
            mode: 'payment',
            // Do not rely on the redirect to the successUrl for fulfilling
            // purchases, customers may not always reach the success_url after
            // a successful payment.
            // Instead use one of the strategies described in
            // https://stripe.com/docs/payments/checkout/fulfillment
            successUrl: 'https://moritaya-ramen.azurewebsites.net/Success?id=ramen',
            cancelUrl: 'https://moritaya-ramen.azurewebsites.net/Canceled?id=ramen',
        })
            .then(function (result) {
                if (result.error) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer.
                    var displayError = document.getElementById('error-message');
                    displayError.textContent = result.error.message;
                }
            });
    };
</script>

