@page
@model Ramen.Store.Pages.SuccessModel
@{ ViewData["Title"] = "Success";
                var ramen = ViewData["param"];
                var imageUrl = ViewData["imageUrl"]; }<h1>Success</h1>
<p>@ramen お買い上げありがとうございます。</p>
<img src=@imageUrl width="100" />